@font-face {
    font-family: open-sans;
    src: url("../fonts/open-sans.ttf");
}

* {
    font-family: open-sans;
    margin: 0;
    padding: 0;
}

header {
    padding: 0 5% 1% 5%;
    background-color: #dddddd;
    border-bottom: 2px solid gray;
}

article {
    padding: 0 5% 2% 5%;
    width: 38%;
}

h1 {
    padding: 1% 0 0 0;
    font-weight: 400;
}

h2 {
    padding: 2% 0 0 0;
    font-weight: 400;
}

p {
    font-size: medium;
    font-weight: 450;
    color: #141414;
}

a {
    color: #3b7cfc;
}

a:hover {
    color: #3b7cfc;
}

code {
    font-family: monospace;
    font-size: large;
}